.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  gap: 10px;
  overflow: hidden;
}

/* .main-content {
  display: flex;
  flex-direction: column;
} */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(136, 129, 129);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  z-index: 1000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
}
.tag {
  width: fit-content;
  height: 16px;
  font-size: 10px;
  color: white;
  background-color: #c6c6c6;
  min-width: fit-content;
  padding: 0 5px;
  border-radius: 5px;
}
